# SPDX-FileCopyrightText: © 2024 Sebastian Davids <sdavids@gmx.de>
# SPDX-License-Identifier: Apache-2.0

# https://git-scm.com/docs/gitattributes

*.rs diff=rust

Cargo.lock linguist-generated=true
.cargo-checksum.json linguist-generated=true
